In [1]:
## import pandas 
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 999)
pd.set_option("display.max_rows", 999)

In [2]:
df = pd.read_csv('fraud detection.csv')

#### Problem statement - Build a classification model which can detect fraud transations

In [3]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr2,dist1,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,M1,M2,M3,M4,M5,M6
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,87.0,19.0,NaN,NaN,NaN,1,1,0,0,0,1,0,0,1,0,2,0,1,1,14,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,T,T,T,M2,F,T
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,M0,T,T
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,87.0,287.0,NaN,outlook.com,NaN,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,T,T,T,M0,F,F
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,87.0,NaN,NaN,yahoo.com,NaN,2,5,0,0,0,4,0,0,1,0,1,0,25,1,112,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,NaN,NaN,NaN,M0,T,F
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df.shape)
# df.info()

(9999, 51)

In [5]:
df.dist2.unique()

array([      nan, 3.000e+01, 9.800e+01, 1.490e+02, 8.400e+01, 1.000e+02,
       7.440e+02, 1.090e+02, 7.000e+00, 6.000e+00, 1.740e+02, 3.170e+02,
       7.300e+01, 2.400e+02, 4.000e+00, 7.000e+01, 2.000e+00, 0.000e+00,
       9.900e+01, 4.250e+02, 2.100e+01, 2.527e+03, 5.140e+02, 2.280e+02,
       1.107e+03, 3.530e+02, 6.600e+01, 6.700e+01, 1.010e+02, 5.710e+02,
       3.400e+02, 1.000e+00, 5.160e+02, 4.200e+01, 1.340e+02, 7.600e+01,
       4.380e+02, 6.800e+01, 3.600e+01, 2.260e+02, 2.850e+02, 2.200e+02,
       1.700e+01, 1.390e+02, 7.110e+02, 9.000e+00, 4.460e+02, 1.100e+02,
       4.000e+01, 1.400e+01, 4.830e+02, 8.110e+02, 4.180e+02, 3.250e+02,
       8.930e+02, 3.690e+02, 1.500e+01, 2.300e+01, 2.190e+02, 1.528e+03,
       2.395e+03, 1.194e+03, 5.080e+02, 1.800e+01, 4.370e+02, 2.140e+02,
       3.110e+02, 1.280e+02, 1.599e+03, 8.920e+02, 1.990e+02, 2.127e+03,
       8.370e+02, 9.070e+02, 4.530e+02, 1.976e+03, 1.600e+01, 4.635e+03,
       8.000e+01, 5.100e+01, 1.510e+02, 1.300e+01, 2.820e+02, 9.400e+01,
       3.430e+02, 3.440e+02, 2.580e+02, 6.310e+02, 1.150e+02, 1.570e+03,
       2.270e+02, 1.610e+02, 4.660e+02, 2.517e+03, 4.520e+02, 5.521e+03,
       5.000e+01, 1.000e+01, 3.990e+02, 5.500e+01, 8.080e+02, 3.950e+02,
       6.000e+01, 1.126e+03, 5.170e+02, 6.260e+02, 9.600e+01, 1.350e+03,
       3.700e+01, 8.000e+00, 8.500e+01, 2.500e+01, 6.100e+01, 3.500e+01,
       3.400e+01, 5.600e+01, 5.300e+01, 2.400e+01, 2.700e+02, 4.210e+02,
       1.100e+01, 4.540e+02, 4.990e+02, 7.220e+02, 3.080e+02, 2.178e+03,
       3.000e+00, 3.960e+02, 1.206e+03, 1.200e+01, 4.900e+01, 2.900e+01,
       1.760e+02, 7.860e+02, 1.410e+02, 1.500e+02, 1.270e+02, 3.800e+01,
       2.000e+01])

### Assuming that dist2 can be imputed, what imputation approach can be used?
    - Mean imputation (N)
    - Median imputation (N)
    - Mode imputation (N)
    - correlation imputation (Y)
    - standard deviation imputation (N)
    - predictive model imputation / cluster (Y)

### 
    - 1) Missing values 
    - 2) Imbalanced dataset
    - 3) Features description not given (data validation would be difficult)
    - 4) large no. of features
    - 5) Encoding

#### Missing values handling

In [6]:
missing_vals =df.isnull().sum()
missing_pers = df.isnull().sum()/df.shape[0]*100
m_df = pd.concat([pd.DataFrame(missing_vals, columns = ['m_count']), pd.DataFrame(missing_pers, columns = ['m_percentage'])], axis = 1).sort_values(by = 'm_percentage', ascending = False)
m_df = m_df[m_df.m_percentage > 0]
m_df

               m_count  m_percentage
D7                9776     97.769777
D13               9719     97.199720
dist2             9621     96.219622
D12               9593     95.939594
D14               9549     95.499550
D6                9508     95.089509
D9                8899     88.998900
D8                8899     88.998900
R_emaildomain     8374     83.748375
D11               7723     77.237724
D5                7231     72.317232
dist1             6614     66.146615
D4                6230     62.306231
M5                5793     57.935794
M2                5790     57.905791
M3                5790     57.905791
M1                5790     57.905791
D15               4930     49.304930
M4                4886     48.864886
D2                4576     45.764576
D3                4272     42.724272
M6                2572     25.722572
P_emaildomain     2105     21.052105
D10               1265     12.651265
addr2              913      9.130913
card2              119      1.190119
card5               22      0.220022
card6                1      0.010001
card4                1      0.010001
card3                1      0.010001

In [7]:
# df.addr2.unique()

In [8]:
# df.groupby('addr2')['TransactionID'].count()
# # 9079/9999

In [9]:
# print(df.groupby('isFraud')['addr2'].count())
# df.groupby(['isFraud','addr2'])['TransactionID'].count()

In [10]:
# df.groupby('isFraud')['TransactionID'].count()

In [11]:
# df[df.isFraud==1]['addr2'].isnull().sum()

#### key observations
    - ['D7', 'D13', 'dist2', 'D12', 'D14', 'D6', 'D9', 'D8', 'R_emaildomain','D11', 'D5'] => > 70% missing values (drop them)
    - 'dist1' needs to be imputed either through correlation or predictive/cluster modeling approach
    - 'addr2' have 265 records for class '1' where 94 are missing values and remaining as a fixed value of 87 (dropping will be better approach)
    - ['card2', 'card5'] - imputation required
    - ['card6','card4', 'card3'] - drop the records row-wise

In [12]:
# df[df.card5.isnull()].groupby('isFraud')['TransactionID'].count()

In [13]:
## imputation of 'card2'
df.head(10)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr2,dist1,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,M1,M2,M3,M4,M5,M6
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,87.0,19.0,NaN,NaN,NaN,1,1,0,0,0,1,0,0,1,0,2,0,1,1,14,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,T,T,T,M2,F,T
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,M0,T,T
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,87.0,287.0,NaN,outlook.com,NaN,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,T,T,T,M0,F,F
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,87.0,NaN,NaN,yahoo.com,NaN,2,5,0,0,0,4,0,0,1,0,1,0,25,1,112,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,NaN,NaN,NaN,M0,T,F
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2987005,0,86510,49.0,W,5937,555.0,150.0,visa,226.0,debit,87.0,36.0,NaN,gmail.com,NaN,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,T,T,T,M1,F,T
6,2987006,0,86522,159.0,W,12308,360.0,150.0,visa,166.0,debit,87.0,0.0,NaN,yahoo.com,NaN,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,T,T,T,M0,F,F
7,2987007,0,86529,422.5,W,12695,490.0,150.0,visa,226.0,debit,87.0,NaN,NaN,mail.com,NaN,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,M0,F,F
8,2987008,0,86535,15.0,H,2803,100.0,150.0,visa,226.0,debit,87.0,NaN,NaN,anonymous.com,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2987009,0,86536,117.0,W,17399,111.0,150.0,mastercard,224.0,debit,87.0,19.0,NaN,yahoo.com,NaN,2,2,0,0,0,3,0,0,3,0,1,0,12,2,61,61.0,30.0,318.0,30.0,NaN,NaN,NaN,NaN,40.0,302.0,NaN,NaN,NaN,318.0,T,T,T,M0,T,T

In [15]:
# for row1 
# for row2

In [16]:
## dropping records with single missing values
df.card3.dropna(inplace = True)
df.card4.dropna(inplace = True)
df.card6.dropna(inplace = True)

In [17]:
## type casting 
for each in df[['card3']].columns:
    df[each] = df[each].astype('int')

In [18]:
## string comparison
df['complt_card'] =  df.card1.astype('str').astype('object') + df.card2.astype('str').astype('object') + df.card3.astype('str').astype('object') + df.card4.astype('str').astype('object') +df.card5.astype('str').astype('object')+ df.card6.astype('str').astype('object')

In [19]:
df.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr2,dist1,dist2,P_emaildomain,R_emaildomain,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14,D15,M1,M2,M3,M4,M5,M6,complt_card
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,87.0,19.0,NaN,NaN,NaN,1,1,0,0,0,1,0,0,1,0,2,0,1,1,14,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,NaN,0.0,T,T,T,M2,F,T,13926nan150.0discover142.0credit
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,0,0,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,M0,T,T,2755404.0150.0mastercard102.0credit
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,87.0,287.0,NaN,outlook.com,NaN,1,1,0,0,0,1,0,0,1,0,1,0,1,1,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,315.0,NaN,NaN,NaN,315.0,T,T,T,M0,F,F,4663490.0150.0visa166.0debit
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,87.0,NaN,NaN,yahoo.com,NaN,2,5,0,0,0,4,0,0,1,0,1,0,25,1,112,112.0,0.0,94.0,0.0,NaN,NaN,NaN,NaN,84.0,NaN,NaN,NaN,NaN,111.0,NaN,NaN,NaN,M0,T,F,18132567.0150.0mastercard117.0debit
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,87.0,NaN,NaN,gmail.com,NaN,1,1,0,0,0,1,0,1,0,1,1,0,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4497514.0150.0mastercard102.0credit

In [ ]:
x = df.groupby('complt_card')['isFraud'].count().reset_index()
y = df.groupby('complt_card')['isFraud'].nunique().reset_index()
z = df.groupby('complt_card')['isFraud'].unique().reset_index()
x = x.merge(y, on = ['complt_card']).merge(z, on = ['complt_card'] )
print(x[x.isFraud_y > 1].shape)  ## a transaction resulting to both the cases: fraud and none-fraud
print(x[x.isFraud_y == 1].shape)
x[x.isFraud_y > 1]

In [ ]:
# x.sort_values('complt_card').to_csv('card_details.csv')

In [20]:
# first 6 digits -> bank identification
# next 9 digits -> unique account number 
# 1 digit -> check digit for validation on the card (random number)

# df.card2.unique()